<div>Pretraga vozila</div>
          <input type="datetime-local" [(ngModel)]='zauzmiOd'>
          <input type="datetime-local" [(ngModel)]='zauzmiDo'>
           <input type="text" name="Mesto"  #Mesto="ngModel" [(ngModel)]="pretraga.mesto">
          <input type="number" name="Sedista"  #Sedista="ngModel" [(ngModel)]="pretraga.brojSedistaZaDecu">
          <input type="checkbox" name="CWD"  #CWD="ngModel" [(ngModel)]="protection">
        
          <select name="MarkaAutomobila"  #MarkaAutomobila="ngModel" [(ngModel)] = "izabranaMarka">
            <option value="sve" selected="selected">sve</option >
            <option *ngFor='let mar of markeVozila' [ngValue]="mar">{{mar.naziv}}</option>

            </select>
            <select name="ModelAutomobila"  #ModelAutomobila="ngModel" [(ngModel)] = "izabraniModel">
              <option value="sve" selected="selected">sve</option >
              <option *ngFor='let mod of modeliVozila' [ngValue]="mod">{{mod.naziv}}</option>

              </select>
              <select name="TipGoriva"  #TipGoriva="ngModel" [(ngModel)] = "izabranoGorivo">
                <option value="sve" selected="selected">sve</option >
                <option *ngFor='let ngorivo of tipoviGoriva' [ngValue]="ngorivo">{{ngorivo.naziv}}</option>

                </select>
                <select name="TipMenjaca"  #TipMenjaca="ngModel" [(ngModel)] = "izabraniMenjac">
                  <option *ngFor='let nmenjac of tipoviMenjaca' [ngValue]="nmenjac">{{nmenjac.naziv}}</option>
                  <option [ngValue]="sve" selected="selected">sve</option >
                  </select>
        <button class='btn btn-outline-secondary'
                  (click)='pretrazi()'>Pretrazi</button>
      
            

<div class="listaVozila">
    <div class='table-responsive'>
      <table class='table' *ngIf='vozila'>
        <thead>
          <tr>
            <th>Marka</th>
            <th>MOdel</th>
            <th>Klasa</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let ser of vozila'>
            <td>{{ser.marka}}</td>
            <td>{{ser.model}}</td>
            <td>{{ser.klasaVozila}}</td>
            <td><button class="btn btn-info" (click)='dodajUkorpu(ser.id)'>Korpa</button></td>

           
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <div class='card-footer'>
      <button class='btn btn-info'
              (click)='prikazKorpe()'
              style='width:80px'>
       Prikazi sadrzaj korpe
      </button>
    </div>

    <div *ngIf='prikaziKorpu'>
      <div > Zelite li da napravite jedan zahtev za sva vozila od istog izdavaca?
        <button class='btn btn-info'
                (click)='napraviBundle()'
                style='width:80px'>
          DA
        </button>
      </div>

      <div>Moja korpa</div>
      <table class='table' *ngIf='korpa'>
        <thead>
          <tr>
            <th>Marka</th>
            <th>MOdel</th>
            <th>Izdavac</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let ser of korpa'>
            <td>{{ser.marka}}</td>
            <td>{{ser.model}}</td>
            <td>{{ser.iznajmljivacId}}</td>
            <td><button class="btn btn-info" (click)='zahtevNapravi(ser)'>Napravi zahtev</button></td>
          <td *ngIf='isBundle'><button class="btn btn-info" (click)='zahtevBundleNapravi(ser)'>Dodaj u bundle zahtev</button></td>
          </tr>
        </tbody>
      </table>

      <div *ngIf='isBundle'>
        <button class='btn btn-info'
        (click)='posaljiBundleZahtev()'
        style='width:80px'>Gotovo
</button>
        </div>
  
          </div>