<h2 style="margin-top: 70px;">Odobreni zahtevi, cekaju na placanje </h2>
<div class="zahteviZaPlacanje">
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Vazi od</th>
          <th>Vazi do</th>
          <th  *ngFor='let v of vozila'>Za vozilo</th>
          <th>Stanje zahteva</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let ser of zahteviZaPlacanje'>
          <td>{{ser.datumOd}}</td>
          <td>{{ser.datumDo}}</td>
          <td  *ngFor='let v of vozila'>{{v.marka}}</td>
          <td>{{ser.stanje}}</td>
          <td><button class="btn btn-info"
                    (click)='plati(ser)'>Plati</button></td>

        </tr>
      </tbody>
    </table>

  </div>
</div>

<h2 style="margin-top: 70px; margin-bottom: 50px;">Zahtevi koji cekaju na komentar</h2>
<div class="zahteviZaPlacanje">
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Vazi od</th>
          <th>Vazi do</th>
          <th *ngFor='let v of pom'>Za vozilo</th>
          <th>Stanje zahteva</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let ser of zahteviZaKomentar'>
          <td>{{ser.datumOd}}</td>
          <td>{{ser.datumDo}}</td>
          <td *ngFor='let v of pom'>{{v.marka}}</td>
          <td>{{ser.stanje}}</td>
          <td><button class="btn btn-info"
                    (click)='ostaviKomentar(ser)'>Plati</button></td>

        </tr>

      </tbody>
    </table>
    Tekst komentara:
    <input type="text"
           name="TekstKomentara" 
           #TekstKomentara="ngModel"
           [(ngModel)]="tekstKomentara"/>
  </div>

</div>
