<div class="card">
    <div class="card-body">
        <h1>Profil korisnika</h1>
        <div class="topnav">
            <a [routerLink]="['./vozilo']">Napravi vozilo</a>
            <a [routerLink]="['./mojiOglasi']">Prikaz mojih oglasa</a>
            <a [routerLink]="['./search']">Svi oglasi</a>
            <a [routerLink]="['./zahteviZaMene']">Pristigli zahtevi</a>
            <a [routerLink]="['./novi-cenovnik']" style="margin-left: 5px;" class="btn btn-info">Dodaj cenovnik</a>
            <a [routerLink]="['./cenovnik']" style="margin-left: 5px;" class="btn btn-info">Svi cenovnici</a>
            <a [routerLink]="['./placanje']">Zahtevi za placanjem</a>

            
            <!--<a href="#" (click)='odjaviSe()'>Odjavi se</a>-->
        </div>
    </div>
</div>
