<div class="card">
    <div class="card-body">
        <h1>Profil korisnika</h1>
        <h3>Dobro dosli: "{{korisnik.ime}} {{korisnik.prezime}}"</h3>
        <div class="topnav">
            <a [routerLink]="['./vozilo']">Napravi vozilo</a>
            <a [routerLink]="['./mojiOglasi']">Prikaz mojih oglasa</a>
            <a [routerLink]="['./search']">Svi oglasi</a>
            <a [routerLink]="['./zahteviZaMene']">Pristigli zahtevi</a>
            <a [routerLink]="['./novi-cenovnik']" style="margin-left: 5px;">Dodaj cenovnik</a>
            <a [routerLink]="['./cenovnik']" style="margin-left: 5px;" >Svi cenovnici</a>
            <a [routerLink]="['./placanje']">Zahtevi za placanjem</a>
            <a href="#" (click)='odjaviSe()'>Odjavi se</a>

            
            <!--<a href="#" (click)='odjaviSe()'>Odjavi se</a>-->
        </div>
    </div>
</div>
